@import "theme-default";
@import "mixins";

$mobile-version-border-width: 768px;

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  @media (max-width: $mobile-version-border-width) {
  	padding-bottom: 62px;
  }
  &.modal-open {
  	// padding-right: 0 !important;
  	// overflow: auto !important;
  }
}

*:focus {outline: 0 !important;}

a {
	color: $link-color;
	cursor: pointer;
}


.button-empty {
	border: 1px solid $bg-color;
	color: darken($bg-color, 5%);
	@include border-radius(4px);
	padding: 12px 24px;
	font-size: 16px;
	text-decoration: none !important;
	display: inline-block;
	&:hover {
		color: $bg-color;
	}
	&:focus {
		color: $bg-color;
	}

	&.button-small {
		padding: 8px 16px;		
	}
	&.button-large {
		padding: 16px 32px;
		font-size: 18px;
	}
}

.button-solid {
	background: $bg-color;
	color: $color;
	@include border-radius(4px);
	padding: 12px 24px;
	font-size: 16px;
	text-decoration: none !important;
	display: inline-block;
	&:hover {
		color: $color;
	}
	&:focus {
		color: $color;
	}
	&.button-small {
		padding: 8px 16px;		
	}
	&.button-large {
		padding: 16px 32px;
		font-size: 18px;
	}
}





.sub-navbar {
	$sub-navbar-height: 58px;
	background: $bg-color;
	height: $sub-navbar-height;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
	padding-right: 115px;

	a {
		height: $sub-navbar-height;
		font-size: 22px;
		padding-left: 15px;
		padding-right: 15px;
		margin-left: 5px;
		margin-right: 5px;
		line-height: $sub-navbar-height;
		display: inline-block;
		text-decoration: none;
		color: $color;
		@media (max-width: $mobile-version-border-width) {
			font-size: 18px;
			padding-left: 10px;
			padding-right: 10px;
		}
		&.active {
			color: $sub-navbar-active-color;
			border-bottom: 2px solid $sub-navbar-active-color;
		}
	}
	.sub-navbar-container {
		a {
			.sub-navbar-item-image {
				display: none;
				background-position: center center;
				background-size: cover;
				background-repeat: no-repeat;
			}
			&:hover {
				border-bottom: 2px solid lighten($sub-navbar-active-color, 80%);
				.sub-navbar-item-title {
					color: #000;
				}
			}
		}
	}
	&.sub-navbar-opened {
		overflow: visible;
		height: auto;
		padding-right: 0px;
		box-shadow: 0 5px 40px rgba(0, 0, 0, 0.3);
		.sub-navbar-container {
			background-color: #fff;
			padding: 15px;
			a {
				font-size: 16px;
				width: 120px;
				height: 140px;
				vertical-align: top;
				padding: 15px;
				line-height: 20px;
				color: $link-color;
				.sub-navbar-item-image {
					display: block;
					height: 64px;
				}
				.sub-navbar-item-no-image {
					background-image: url($tag-no-image);
					background-size: contain;
					@include opacity(0.8);
				}
				.sub-navbar-item-title {
					padding-top: 6px;
					height: 46px;
					overflow: hidden;
					text-overflow: ellipsis;
					display: block;
					display: flex;
					align-items: center;
					justify-content: center;
				}
				&.active {
					border-bottom: 0;
					@include border-radius(5px);
					background: $sub-navbar-active-background;
				}
				&:hover {
					border-bottom: 0;
				}
			}
		}
		.sub-navbar-toggle {
			position: relative;
			display: block;
			text-align: center;
			background: darken($bg-color, 5%);
			margin: 0;
			font-size: 16px;
		}
	}
	.sub-navbar-toggle {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		background: $bg-color;
		background: darken($bg-color, 5%);
		i {
			margin-left: 5px;
		}
	}
}
.sub-navbar-wrapper-fixed {
	.sub-navbar-wrapper-content {
		position: fixed;
		left: 0; 
		top: 0;
		right: 0;
		z-index: 1;
	}
}

.loader {
	z-index: 3000;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.9);
	.loader-image {
		height: 50%;
		background: url(images/loader.gif) center bottom no-repeat;
		background-size: 120px;
	}
	.loader-label {
		padding-top: 20px;
		font-size: 28px;
		text-align: center;
	}
	&.hidden-loader {
		right: auto;
		bottom: auto;
		width: 0 !important;
		height: 0 !important;

	}
}









.product-list-tag-title-container {
	position: relative;
	margin: 15px 30px 0 15px;
	padding-bottom: 15px;
	color: $bg-color;
	border-bottom: 1px solid $bg-color;
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.1);

	.product-list-tag-title {
		text-align: center;
		font-size: 44px;
		font-weight: 400;
		@media (max-width: $mobile-version-border-width) {
			text-align: left;
		}

	}
	.subtag-selector {
		position: absolute;
		right: 0px;
		top: 4px;
		button {
			@include border-radius(4px);
			&:focus {
				background: $color;
				color: #000;
				border-color: #ccc;
			}
			&:hover {
				background: $bg-color;
				color: $color;
				border-color: $bg-color;
				@include box-shadow(0, 10px, 15px, rgba($bg-color, .3));
			}
			&:active {
				background: $bg-color;
				color: $color;
				-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .25) inset, 0 10px 20px rgba(0, 0, 0, .15) inset;
				-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .25) inset, 0 10px 20px rgba(0, 0, 0, .15) inset;
				box-shadow: 0 2px 4px rgba(0, 0, 0, .25) inset, 0 10px 20px rgba(0, 0, 0, .15) inset;
			}
		}
		.open>.dropdown-toggle.btn-default {
				background: $bg-color;
				color: $color;
				-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .25) inset, 0 10px 20px rgba(0, 0, 0, .15) inset;
				-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .25) inset, 0 10px 20px rgba(0, 0, 0, .15) inset;
				box-shadow: 0 2px 4px rgba(0, 0, 0, .25) inset, 0 10px 20px rgba(0, 0, 0, .15) inset;			
		}
		.dropdown-menu>li>a {
			font-size: 16px;
			padding: 12px 25px;
		}
		.dropdown-menu>.active>a {
			background: $bg-color;
			color: $color;
		}
	}
}













.promo-slider {
	height: 250px;
	@media (max-width: $mobile-version-border-width) {
		display: none;
	}
}


.footer {
	background: #333;
	font-size: 12px;
	color: #ddd;
	padding: 40px;
	line-height: 200%;
}